<div class="well questionnaire-listing">
  <div class="row">
    <div class="col-md-11">
      <h3 class="questionnaire-title">Title: {{questionnaire.title}}</<h3>
      <p>Desc: {{questionnaire.desc}}</p>
    </div>
  </div>
    <div class="row">
  <div class="col-md-12">
    <a class="start-button btn btn-primary pull-right" {{action "startQuestionnaire" questionnaire}}>Start</a>
  </div>
  </div>
</div>
