<li class="list-group-item question-title" id= {{question.num}}><strong>{{#if (compare question.mandatory 1)}}*{{/if}}{{question.title}}:</strong> {{question.question}}</li>
<li class="list-group-item question-desc"><strong>Description: </strong>{{question.desc}}</li>

{{#if (compare question.type '1')}}
  <!-- INPUT TEXT -->
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group">
        {{textarea class="form-control" value=question.answer cols="110" rows="5" placeholder="Type here... " key-up=(action "checkText")}}
      </div>
    </div>
  </div>
  {{else if (compare question.type '2')}}
  <!-- RADIO -->
  <ul class="list-group">
    {{#each question.choices as |choices|}}
      <li class="list-group-item no-padding">
        <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
              <div class="radio">
                <label>{{#radio-button
                  value=choices.num
                  groupValue=value
                  changed=(action "radioButtonClicked" choices.num)
                  name=choices.name}}{{/radio-button}}
                  {{choices.desc}}</label>
              </div>
            </div>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
  {{else if (compare question.type '3')}}
  <!-- CHECKBOX -->
  <ul class="list-group">
    {{#each question.choices as |choices|}}
      <li class="list-group-item no-padding">
        <div class="row">
          <div class="col-lg-6">
            <div class="checkbox">
              <label>{{input required="true" type="checkbox" name=choices.name checked=choices.value change=(action "checkBoxClicked" choices.num)}} {{choices.desc}}</label>
            </div>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
{{/if}}
