.question-listing {
  margin-bottom: 450px;
}

.error-border {
  border: 2px solid #c75b5b;
}

.alert {
  position: fixed;
  bottom: 31px;
}

.float-right {
  float: right;
}

.bottom-bar-btns {
  margin-top: 10px;
}

.navbar-brand {
  font-size: 23px;
  color: rgb(211, 211, 211);
}

.margin-60 {
  margin-top: 60px;
}

body {
  overflow: hidden;
}

.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.success-well {
  margin-top: 30%;
}

.arrow {
  width: 9%;
}

.success-img {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.faded {
  opacity: 0.3;
}
