<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="container">
        <div class="row">
          <div class="col-md-11">
            {{#link-to 'index'}}
              <strong class="navbar-brand">Questionnaire Application</strong>
            {{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container margin-60">
  <div class="row">
    <div class="col-md-9">
      {{outlet}}
    </div>
  </div>
</div>
