<div class="jumbo">
  <h2 id='questionnaire-title'>{{model.title}}</h2>
  {{#each model.questions as |ques|}}
    <div id= {{ques.num}} class="well question-listing">{{question-listing question=ques}}</div>
  {{/each}}

  <div class="alert alert-danger hidden">
    <strong>Error!</strong> Please fill in the required fields.
  </div>

  <footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container bottom-bar-btns">
        <div class="float-right">
          <img class="arrow" src="/assets/images/down-arrow.svg" alt="http://www.flaticon.com/authors/madebyoliver" {{action "next" model.questions}} />
          <img class="arrow" src="/assets/images/up-arrow.svg" alt="http://www.flaticon.com/authors/madebyoliver" {{action "prev" model.questions}} />
          <button type="button" class="btn btn-md btn-success" {{action "submit" model.questions}}>Submit</button>
        </div>
      </div>
    </div>
  </footer>
</div>
