<div class="well success-well">
  <h1 class="cover-heading">Success.</h1>
  <p class="lead">Thank you for your participation.</p>
  <img class="success-img" src="/assets/images/like.svg" alt="Success">
</div>
